#apresentation-about {
    display: flex;
    justify-content: center;
}

.slogan {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin: 80px 0 0 -100px;
    align-items: flex-end;
}

.slogan h1 {
    font-size: 2.5rem;
}

.slogan h2 {
    font-size: 1.5rem;
    font-weight: lighter;    
}

#apresentation-about img {
    width: 55%;
    transform: rotate(-10deg);
}

#about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    background-image: linear-gradient(#D46A6A 5%, #D2232A 99%);
    height: 400px;
    transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -webkit-transform: skewY(-5deg);
}

#about-us h2 { 
    padding-top: 100px;
    color: var(--white-color);
    transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
}

#about-us p {
    width: 60%;
    color: var(--white-color);
    margin-top: 40px;
    transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
}

.goals-section {
  padding-top: 9rem;
}

.goals {
  margin-top: 3rem;
}

.goals h1 {
    color: var(--red-color);
}

#tablet {
    margin-top: 6rem;
    min-height: 120vh;
    background-image: url(../img/serv_background.png);
    background-size: cover;
}

.slogan-text {    
    padding: 6rem 0 0 3rem;
}

.slogan-text h1, .slogan-text p {
    padding-left: 0;
    text-align: left;
}

.slogan-text p {
    width: 55vw;
    padding-bottom: 2rem;
}

.testimony-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 3rem;
}

.testimony {
    margin-bottom: 3rem;
}

.testimony iframe {
    width: 400px;
    height: 200px;
    margin-bottom: 1rem;
}


@media screen and (max-width: 1060px) {
    #apresentation-about img {
        width: 31rem;
    }
    
    .slogan {
        margin: 5rem 0 0 -9rem;
    }
    
    .slogan h1 {
        font-size: 2rem;
    }

    .slogan h2 {
        font-size: 1rem;
        font-weight: lighter;    
    }
    
    #about_us h2 {
        padding-top: 5rem;
    }
    
    .goals-section {
        padding: 6rem 3rem 0;
    }
}

@media screen and (max-width: 768px) {
    #apresentation-about img {
        width: 18.5rem;
    }
    .slogan {
        margin: 3rem 0 0 -10rem;
    }
    
    .slogan h1 {
        font-size: 1.5rem;
    }
    
    #about-us h2{
        padding-top: 50px;
    }
    
    #about-us p{
        width: 80%;
    }

    .goals-section {
    padding: 6rem 3rem 0;
    }

}
