:root {
    --grey-color: #636363;
    --red-color: #D2232A;
}

#apresentation_about {
    display: flex;
    justify-content: center;
    font-family: "Open Sans";
}

.slogan {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin: 80px 0 0 -100px;
    align-items: flex-end;
}

.slogan h1{
    font-size: 2.5rem;
}

.slogan h2{
    font-size: 1.5rem;
    font-weight: lighter;    
}

.call-action_right {
    background-color: var(--red-color);
    width: 150px;
    height: 60px;
    border-radius: 100px;
    margin-top: 20px;
    float: right;
}

#apresentation_about img{
    width: 55%;
    transform: rotate(-10deg);
}

#about_us{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-image: linear-gradient(white 0,5%, #D2232A 99%);
    font-family: "Open Sans";
    color: white;
    height: 400px;
    transform: skewY(-5deg);
    -ms- transform: skewY(-5deg);
    -webkitß- transform: skewY(-5deg);
}

#about_us h2{
    padding-top: 100px;
    transform: skewY(5deg);
    -ms- transform: skewY(5deg);
    -webkitß- transform: skewY(5deg);
}

#about_us p{
    text-align: center;
    width:60%;
    margin-top: 40px;
    transform: skewY(5deg);
    -ms- transform: skewY(5deg);
    -webkitß- transform: skewY(5deg);
}

.goals-section{
  padding:150px 0 0 100px;
}

.goals{
  font-family: "Open Sans";
  margin-top: 50px;
}

.goals h1{
  color: var(--red-color);
}

.goals .{
  color: var(--grey-color);
}

#tablet{
    margin-top: 100px;
    height: 1000px;
    background-color: #e4e4e4;
    transform: skewY(-5deg);
    -ms- transform: skewY(-5deg);
    -webkitß- transform: skewY(-5deg);
}
#tablet img{
    width: 50%;
    margin-right: -100px;
    float: right;
    transform: skewY(5deg);
    -ms- transform: skewY(5deg);
    -webkitß- transform: skewY(5deg);
}

#slogan-tablet{    
    margin: 200px 0 0 50px;
    font-family: "Open Sans";
    color: black;
    transform: skewY(5deg);
    -ms- transform: skewY(-5deg);
    -webkitß- transform: skewY(-5deg);
}

#slogan-tablet p{
    margin: 20px auto;
    font-size: 1rem;
}

@media screen and (max-width: 1060px) {
    #apresentation_about img{
        width: 500px;
    }
    
    .slogan{
            margin: 80px 0 0 -150px;
    }
    
    .slogan h1{
        font-size: 2rem;
    }

    .slogan h2{
        font-size: 1rem;
        font-weight: lighter;    
    }
    
    #about_us h2{
        padding-top: 80px;
    }
    
    .goals-section{
        padding:100px 50px 0 50px;
    }
 
}

@media screen and (max-width: 768px) {
    #apresentation_about img{
        width: 300px;
    }
    .slogan{
        margin: 50px 0 0 -150px;
    }
    
    .slogan h1{
        font-size: 1.5rem;
    }
    
    .call-action_right {
    width: 100px;
    height: 40px;
    }
    
    .goals-section{
    padding:100px 20px 0 20px;
    }

}
