footer{
    margin-top: 200px;
    height: 300px;
    background-color: #e4e4e4;
}

.logo_infor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.base-logo img{
    padding: 20px 0 0 85px;
    width: 200px;
}

.right-infor{
    font-family: "Open Sans";
    font-size: 0,5em;
    padding-right: 100px;
}

.footer_other{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_other hr{
    float: center;
    width: 85%;
}

.other{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "infor social-media";
    width: 85%;
}

.left-other{
    display: flex;
    font-family: "Open Sans";
    width: 85%;
    margin: 10px;
}

.left-other h5{
    margin-left: 10px
}

.right-other{
    grid-area: social-media;
}

.right-other img{
    width: 5%;
    margin:10px;
}


@media screen and (max-width: 1060px) {
 
}

@media screen and (max-width: 768px) {
    .left-other{
        display: none;
    }
}




