footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #e4e4e4;
}

.footer-row:first-child {
    align-items: flex-start;
}

.footer-row {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-row img {
    width: 12rem;
    height: auto;
}

.right-infor {
    text-align: end;
    font-weight: 500;
    margin-top: 1rem; 
}

.right-infor p:first-child {
    margin-bottom: 1rem;
}

footer hr {
    width: 85%;
    margin: 1rem 0;
}

.left-other {
    display: flex;
    font-weight: 300;
}

.left-other span {
    font-size: 1rem;    
    font-weight: 500;
}

.left-other span:nth-child(2) {
    margin-left: 2rem;
}

.right-other a {
    text-decoration: none;
    margin: 0 0.25rem;
}

.right-other img {
    width: 20px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .footer-row {
        width: 100%;
    }
    .footer_row img {
        width: 8rem;
    }
    
    footer hr{
        width: 100%;
    }
    
    .right-infor{
        margin-top: 3.5rem;
    }
    

    .right-infor p{
        font-size: 0.9rem; 
    }
    
    .left-other{
        display: none;
    }

    .right-other img {
        width: 20px;
    }
}




