:root {
  --grey-color: #636363;
  --red-color: #D2232A;
}

*{
  margin: 0;
}

main{
  display: grid;
}

#montain{
  background-image: url(../img/montain.png);
  background-size: cover;
  height: 100vh;
}

#montain_title{
  margin: 100px 0 0 100px;
  font-family: "Open Sans";
  color: black;
}

#montain_title h2{
  color: var(--grey-color);
  margin-top:10px;
}

.call-action{
  background-color: var(--red-color);
  width: 150px;
  height: 60px;
  border-radius: 100px;
  margin-top: 20px;
}

#quem_somos{
  align-items: center;
  align-content: space-between;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.title_grey{
  font-family: 'Open Sans', sans-serif;
  color: var(--grey-color);
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
}

.subtitle_grey{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: var(--grey-color);
  margin: 20px;
  width: 50%;
  text-align: center;
}

#services{
  background-image: url(../img/index_background.png);
  background-size: cover;
  height:100vh;
  display: grid;
  grid-template-rows: 60% 10%;
  align-items: center;
  margin-top: 100px;
}

.service_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2/3;
  font-family: 'Open Sans', sans-serif;
  color: var(--grey-color);
}

.service_box img{
  width: 50%;
}

#work-process{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top:200px;
}

.container {
    width: 70%;
    margin: 50px auto;
}

.progress-bar li {
    list-style-type: none;
    width: 33.3%;
    float: left;
    font-size: 20px;
    font-family: "Open Sans";
    position: relative;
    text-align: center;
    color: var(--grey-color);
}

.progress-bar li:before {
    width: 30px;
    height: 30px;
    content: no-close-quote;
    border: 4px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progress-bar li:after {
    width: 100%;
    height: 4px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progress-bar li:first-child:after {
    content: none;
}
.progress-bar li.active {
    color: var(--red-color);
}
.progress-bar li.delete {
    color: #7d7d7d;
}
.progress-bar li.active:before {
    color: var(--red-color);
    border: 4px solid var(--red-color);
}
.progress-bar li.active + li:after {
    background-color: var(--red-color);
}

#wrapper{
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

#wrapper img{
    width: 200px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

@media screen and (max-width: 1060px) {
  #montain{
    height:60vh;
  }

  #montain_title{
    margin: 50px 0 0 50px;
  }

  #services{
  grid-template-rows: 10% 20% 20%;
  grid-template-columns: 100%;
  }

@media screen and (max-width: 768px) {
  #montain{
    height:50vh;
  }
  #montain_title{
    margin: 20px 0 0 20px;
  }
}
