header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

header img {
    width: 9rem;
    height: auto;
}

nav a {
    color: var(--grey-color);
    text-decoration: none;
    padding: 0 1rem;
}

nav a:last-child {
    padding: 1rem;
    border-radius: 3rem;
    background-color: var(--red-color);
    color: var(--white-color);
}

nav a:hover {
    padding: 1rem;
    border-radius: 3rem;
    background-color: var(--red-color);
    color: var(--white-color);
}

@media screen and (max-width: 768px) {
    header img{
        width: 5rem;
    }
}
