#apresentation_table {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    font-family: "Open Sans";
}

#slogan-table {
    display: flex;
    flex-direction: column;
    padding: 100px 0 0 50px;
}

#slogan-table h1 {
    font-size: 3rem;
}

#slogan-table h2 {
    font-size: 1.5rem;
    font-weight: lighter;
}

#slogan-table button:focus {
    outline: none;
}

#apresentation_table img {
    width: 600px;
    transform: rotate(5deg);
    padding: 10px;
}

#services_serv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.service_box_serv {
    display: flex;
    width: 80%;
    margin-top: 60px;
}

.service_box_serv img {
    width: 150px;
}

.service_title {
    color: var(--grey-color);
    padding: 10px;
}

.service_description {
    padding: 10px;
    width: 50%
}

#points_serv img {
    width: 700px;
    float: right;
    margin-right: -800px;
}

#portefolio {
    display: flex;
    flex-direction: column;
    background-image: url(../img/serv_background.png);
    background-size: cover;
    height: 110vh;
}

#portefolio h2 {
    margin: 100px 0 0 100px;
}

#portefolio #filters {
    margin: 50px 0 50px 100px;
}

#portefolio #filters .btn {
    padding: 0.5rem;
    margin: 0 0.5rem;
    border: 1px solid #d3d3d3;
    border-radius: 0.25rem;
    background-color: white;
    cursor: pointer;
}

#portefolio #filters .btn:hover {
    background-color: #d3d3d3;
}

#portefolio #filters .btn:focus {
    outline: none;
}

#portefolio #filters .btn:first-child {
    margin-left: 0rem;
}


#portefolio #filters .btn:last-child {
    margin-right: 0rem;
}


.filterDiv {
    display: none;
}

.show {
    display: block;
}

.container-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr 1fr 1fr;
}

.container-logos img {
    width: 150px;
    height: auto;
    justify-self: center;
    align-self: center;
}

@media screen and (max-width: 1060px) {
    #apresentation_table img {
        width: 400px;
    }

    #slogan_table h1 {
        font-size: 2rem;
    }

    #slogan_table h2 {
        font-size: 1.5rem;
    }

    #points_serv img {
        width: 550px;
        margin-right: -600px;
    }
}

@media screen and (max-width: 768px) {
    #apresentation_table img {
        width: 250px;
        padding: 10px;
    }

    #slogan_table {
        padding: 50px 0 0 50px;
    }

    .call-action {
        width: 100px;
        height: 40px;
    }

    #slogan_table h1 {
        font-size: 1.5rem;
    }

    #slogan_table h2 {
        font-size: 1rem;
    }

    .service_description {
        font-size: 1rem;
        width: 100%;
    }

    #points_serv img {
        width: 500px;
        margin-right: -550px;
    }
}