/* ------------------HERO------------------ */
#apresentation-table {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#apresentation-table img {
    width: 37rem;
    height: auto;
    transform: rotate(5deg);
}

#slogan-table {
    padding: 6rem 0 0 3rem;
}

#slogan-table h1 {
    font-size: 3rem;
}

#slogan-table h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: lighter;
}

#slogan-table button:focus {
    outline: none;
}

/* ------------------SERVICES------------------ */
#services-col {
    display: flex;
    flex-direction: column;
    padding-left: 9rem;
    background-image: url(../img/serv_background.png);
    background-size: cover;
}

.service-box {
    flex-direction: row;
    margin-top: 8rem;
}

.service-box:first-child {
    margin-top: 10rem;
}

.square {
    margin: 0 3rem 0 0;
}

.service-title {
    color: var(--grey-color);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.service-description {
    width: 35rem;
}

/* ------------------SIDE-SERVICES------------------ */
.add-services-container {
    display: flex;
    width: 100vw;
    height: 85vh;
    justify-content: flex-end;
}

.big-square {
    position: relative;
    width: 40rem;
    height: 40rem;
}

.big-box {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    padding: 5rem;
}

.big-box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 4;
    background-color: var(--white-color);
    transform: rotate(-5deg);
}

.big-box2 {
    z-index: 3;
    background-color: #F8E5E5;
    transform: rotate(-10deg);
}

.big-box3 {
    z-index: 2;
    background-color:#E08A8A;
    transform: rotate(-15deg);
}

.big-box4 {
    z-index: 1;
    background-color: #D14D4C;
    transform: rotate(-20deg);
}

.big-box .service-box {
    flex-direction: row;
    margin-top: 0rem;
}

.big-box .service-box:first-child {
    margin-top: 0rem;
}

.big-box .square {
    width: 5rem;
    height: 5rem;
    margin: 0 1rem 0 0;
}

.big-box .box {
    border-radius: 0.5rem;
}

.big-box .box1 {
    border-radius: 1rem;
}

.big-box .box1 img {
    width: 2.5rem;
}

/* ------------------PORTFOLIO------------------ */
#portfolio {
    display: flex;
    flex-direction: column;
    background-image: url(../img/serv_background.png);
    background-size: cover;
    height: 130vh;
}

#portfolio h2 {
    text-align: start;
    margin: 6rem 0 0 6rem;
}

#portfolio #filters {
    margin: 3rem 0 3rem 6rem;
}

#portfolio #filters .btn {
    padding: 0.5rem;
    margin: 0 0.25rem;
    border: 1px solid #d3d3d3;
    border-radius: 0.25rem;
    background-color: white;
    cursor: pointer;
}

#portfolio #filters .btn:hover {
    background-color: #d3d3d3;
}

#portfolio #filters .btn:focus {
    outline: none;
}

#portfolio #filters .btn:first-child {
    margin-left: 0rem;
}


#portfolio #filters .btn:last-child {
    margin-right: 0rem;
}

.filterDiv {
    display: none;
}

.show {
    display: block;
}

.container-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr 1fr 1fr;
}

.container-logos img {
    width: 150px;
    height: auto;
    justify-self: center;
    align-self: center;
}

footer {
    margin-top: 0;
}

@media screen and (max-width: 1060px) {
    #apresentation-table img {
        width: 400px;
    }

    #slogan-table h1 {
        font-size: 2rem;
    }

    #slogan-table h2 {
        font-size: 1.5rem;
    }

    #points-serv img {
        width: 550px;
        margin-right: -600px;
    }
}

@media screen and (max-width: 768px) {
    #apresentation-table img {
        width: 250px;
        padding: 10px;
    }

    #slogan-table {
        padding: 50px 0 0 50px;
    }

    .call-action {
        width: 100px;
        height: 40px;
    }

    #slogan-table h1 {
        font-size: 1.5rem;
    }

    #slogan-table h2 {
        font-size: 1rem;
    }

    .service-description {
        font-size: 1rem;
        width: 100%;
    }

    #points-serv img {
        width: 500px;
        margin-right: -550px;
    }
}