/* ------------------HERO------------------ */
#apresentation-about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
}

.slogan {
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: flex-end;
}

.slogan h1 {
    font-size: 2.5rem;
}

.slogan h2 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: lighter;
}

#apresentation-about img {
    width: 45%;
    transform: rotate(-10deg);
}

/* ------------------ABOUT------------------ */
#about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    background-image: linear-gradient(#D46A6A 5%, #D2232A 99%);
    height: 25rem;
    transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -webkit-transform: skewY(-5deg);
}

#about-us h2 {
    color: var(--white-color);
    transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
}

#about-us p {
    width: 50%;
    color: var(--white-color);
    transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
}

/* ------------------GOALS------------------ */
.goals-section {
    padding: 6rem 0;
}

.goals {
    margin-top: 3rem;
}

.goals h1 {
    color: var(--red-color);
}

/* ------------------TESTIMONY------------------ */
#tablet {
    background-image: url(../img/serv_background.png);
    background-size: cover;
    padding-bottom: 6rem;
}

.slogan-text {
    padding: 6rem 0 0 3rem;
}

.slogan-text h1,
.slogan-text p {
    padding-left: 0rem;
    text-align: left;
}

.slogan-text p {
    width: 55vw;
    padding-bottom: 2rem;
}

.testimony-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 3rem;
}

.testimony {
    margin-bottom: 3rem;
}

.testimony iframe {
    width: 25rem;
    height: 12.5rem;
    margin-bottom: 1rem;
}


@media screen and (max-width: 1060px) {
    .slogan h1 {
        font-size: 2rem;
    }

    .goals-section {
        padding: 6rem 3rem;
    }
}

@media screen and (max-width: 768px) {
    #apresentation-about img {
        display: none;
    }

    .slogan {
        padding-top: 2rem;
        align-items: flex-start;
    }

    #about-us p {
        width: 80%;
    }

    .slogan-text {
        padding: 6rem 3rem 2rem;
    }

    .slogan-text p {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .testimony-section {
        padding: 0 0.5rem;
    }

    .testimony iframe {
        width: 18rem;
    }
}