header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

header img {
    width: 9rem;
}

nav a, nav button {
    color: var(--grey-color);
    text-decoration: none;
    padding: 0 1rem;
}

nav button {
    padding: 1rem;
    border: none;
    border-radius: 3rem;
    background-color: var(--red-color);
    color: var(--white-color);
    cursor: pointer;
}

nav button:focus {
    outline: none;
}

nav a:hover {
    padding: 1rem;
    border-radius: 3rem;
    background-color: var(--red-color);
    color: var(--white-color);
}

.hidden{
    display: none;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    padding: 1rem 4rem;
    border-radius: 0.5rem;
    background-color: var(--white-color);
    overflow-y: scroll;
}

form input[type=text], form input[type=email] {
    align-self: flex-end;
    width: 100%;
    height: 3.5rem;
    border: none;
    border-radius: .5rem;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    color: black;
    background-color: var(--white-color);
    box-shadow: 0 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    font-weight: 100;
    transition: 0.5s;
}

form input[type=text]:hover, form input[type=email]:hover, form textarea:hover {
    box-shadow: 0 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.25);
}

form input[type=text]:focus, form input[type=email]:focus, form textarea:focus, form input[type=submit]:focus {
    outline: none;
}

form input[type=submit] {
    align-self: flex-end;
    width: 8rem;
    height: 2.5rem;
    padding: 0;
    border: none;
    border-radius: .5rem;
    color: var(--white-color);
    background-color: var(--red-color);
    font-size: 1rem;
    box-shadow: 0 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.15);
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

form input[type=submit]:hover {
    box-shadow: 0 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.25);
}

form textarea {
    width: 100%;
    height: 8rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: .5rem;
    box-sizing: border-box;
    color: black;
    background-color: var(--white-color);
    resize: none;
    box-shadow: 0 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    font-weight: 100;
    transition: 0.5s;
}

label {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.close {
    align-self: flex-end;
    color: var(--grey-color);
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.call-action {
    width: 9rem;
    padding: 0 1rem;
    margin-top: 2rem;
    border: none;
    border-radius: 3rem;
    background-color: var(--red-color);
    color: var(--white-color);
    cursor: pointer;
}

.call-action:focus {
    outline: none;
}

.language-button img {
    width: 1.5rem;
}

.language-button:hover {
    padding: 0rem;
    border-radius: 0rem;
    background-color: none;
    color: none;
}

@media screen and (max-width: 768px) {
    nav a, nav button, .hidden {
        display: none;
    }
    
    .menu-toggle {
        width: 40px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 25px;
        cursor: pointer;
    }

    .menu-toggle.on .one {
        -moz-transform: rotate(45deg) translate(7px, 7px);
        -ms-transform: rotate(45deg) translate(7px, 7px);
        -webkit-transform: rotate(45deg) translate(7px, 7px);
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-toggle.on .two {
        opacity: 0;
    }

    .menu-toggle.on .three {
        -moz-transform: rotate(-45deg) translate(8px, -10px);
        -ms-transform: rotate(-45deg) translate(8px, -10px);
        -webkit-transform: rotate(-45deg) translate(8px, -10px);
        transform: rotate(-45deg) translate(8px, -10px);
    }

    .one,
    .two,
    .three {
        width: 100%;
        height: 5px;
        background: black;
        margin: 6px auto;
        backface-visibility: hidden;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        color: #1690C3;
        list-style: none;
        margin-top: 10rem;
    }

    nav ul.hidden {
        display: none;
    }

    nav ul a {
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        text-decoration: none;
        color: white;
        font-size: 3rem;
        display: block;
        font-weight:bold;
        padding: 2rem;
    }

    nav ul a:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .menu-section.on {
        z-index: 10;
        width: 100%;
        height: 100%;
        display: block;
        background-color: #D14D4C;
        position: absolute;
        left: 0;
        top:0;
    }
}

@media screen and (max-width: 500px) {
    nav ul a {
        font-size: 2rem;
    }
    
    nav ul {
        margin-top: 5rem;
    }
}

@media screen and (min-width: 768px) {
    nav ul {
        display: none;
    }
}
